<div class="container">
    <div *ngIf='!addVar'>
    <h1 class="title">Daily Study Plan</h1>
        <table class="table table-dark table-striped table-hover">
            <thead class="tablehead ">
            <tr>
                <th scope="col ">S.N</th>
                <th scope="col">Sbject</th>
                <th scope="col">Time(start)</th>
                <th scope="col" >Time(end)</th>
                <th scope="col">
                    <div class="d-flex justify-content-end me-5"> Action</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="tablebody" *ngFor='let item of  studyPlan; let i=index'>
                <th scope="row">{{i+1}}</th>
                <td>{{item.subject}}</td>
                <td>{{item.starttime}}</td>
                <td>{{item.endtime}}</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex">
                            <div class="btn btn-outline-primary "(click)='editActivity(i)' >
                                <span >Edit</span>
                            </div>
                            <div class="btn btn-outline-danger ms-3 " (click)='deleteActivity(i)'>
                                <span >Delete</span>
                              </div>
                        </div>
                    </div>
                </td>
            </tr>
            
            </tbody>
        </table>
    <div class="d-flex justify-content-center mt-5 ">
        <div class="btn btn-outline-info" (click)='addActivity()'>Add</div>
    </div>
    </div>
    <div *ngIf='addVar && !editVar'>
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="text-white">subject</label>
            <textarea class="form-control" id="exampleFormControlTextarea1"  [(ngModel)]='subject'  ></textarea>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="text-white">starttime</label>
            <input type='time' class="form-control" id="exampleFormControlTextarea1"  [(ngModel)]='starttime'>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="text-white">endtime</label>
            <input type='time' class="form-control" id="exampleFormControlTextarea1"  [(ngModel)]='endtime'>
          </div>
          <div class="card-footer">
            <div class="btn btn-outline-info" (click)='saveAddedActivity()'>Save</div>
          </div>
    </div>

    <div *ngIf='editVar'>
          
        <div class="form-group">
          <label for="exampleFormControlTextarea1" class="text-white">subject</label>
          <textarea class="form-control" id="exampleFormControlTextarea1"  [(ngModel)]='studyPlan[index].subject'  ></textarea>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1" class="text-white">starttime</label>
          <input type='time' class="form-control" id="exampleFormControlTextarea1"  [(ngModel)]='studyPlan[index].starttime'>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1" class="text-white">endtime</label>
          <input type='time' class="form-control" id="exampleFormControlTextarea1"  [(ngModel)]='studyPlan[index].endtime'>
        </div>
        <div class="card-footer">
          <div class="btn btn-outline-info" (click)='saveEditedActivity()'>Save</div>
        </div>
  </div>

</div>